{% extends "base.html" %}
{% block container %}

<div class="page-header">
		  <h1>Iphone X</h1>
		</div>
		<div class="row">
		  <div class="col-sm-4">
			  <a href="#" class="thumbnail">
				  <img src="https://cdn.macrumors.com/article-new/2017/09/iphonexdesign-1-800x597.jpg" alt="" />
			  </a>
		  </div>
		  <div class="col-sm-8">
			  <dl>
				  <dt>ESPECIFICAÇÕES</dt>
			  	<dt>Processador:</dt>
				<dd>2x Monsoon + 4x Mistral</dd>
				<dt>Memória Ram:</dt>
				<dd>3GB</dd>
				<dt>GPU:</dt>
				<dd>Apple M11</dd>
				<dt>Memória Interna:</dt>
				<dd>256GB</dd>
				<dt>Tela:</dt>
				<dd>1125 x 2436 pixel</dd>
			  </dl>
		  </div>
		</div>

<div class="page-header">
		  <h2>Samsung Galaxy Note8</h2>
		</div>
		<div class="row">
		  <div class="col-sm-4">
			  <a href="#" class="thumbnail">
				  <img src="https://img.ibxk.com.br/2017/08/23/23115445911644.jpg?height=300&scale=canvas" alt="" />
			  </a>
		  </div>
		  <div class="col-sm-8">
			  <dl>
				  <dt>ESPECIFICAÇÕES</dt>
			  	<dt>Processador:</dt>
				<dd>Quad-core 2.3 GHz + Quad-core 1.7 GHz</dd>
				<dt>Memória Ram:</dt>
				<dd>6 GB</dd>
				<dt>GPU:</dt>
				<dd>Adreno 540</dd>
				<dt>Memória Interna:</dt>
				<dd>256GB</dd>
				<dt>Tela:</dt>
				<dd>1440 x 2960 pixel SUPER AMOLED</dd>
			  </dl>
		  </div>
		</div>


{% endblock %}